html {
    background-color: #D8CCA3;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 87%;
}

img {
    max-width: 100%;
}


.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    /* 색 표현법: 1. 색이름 blue, red ettc., 2. rgb (255,255,255), 3. 16진수 # */
    /* 흰색: white, rgb (255,255,255), #fffffff = #fff */
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    /* 기본이 컨텐트 이기 때문에 박스 크기를 정확하게 주기 위해서 */
    box-sizing: border-box;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #18978F;
}

header h1 {
    margin: 0%;
    font-size: 165%;
    font-weight: normal;
}

header p {
    margin: 0;
}

/* 네비게이션 */
.site-nav {
    margin-top: 20px;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    float: left;
    margin-right: 5px;
}

.site-nav a {
    /* a가 인라인이므로 블록으로 수정해서 크기 적용 */
    display: block;
    color: #617140;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #F7E2D6;
    border-bottom: none;
}

.site-nav a:hover {
    /* "hover는 커서 올렸을때 색상 바꾸는 동작 태그 */
    background-color: #F7E2D6;
    font-weight: bold;
}

.content-area {
    border-top: 3px solid #e5e9dc;
    border-bottom: 3px solid #e5e9dc;
}

.main-area {
    text-align: justify;
    width: 66%;
    float: left;
    padding-right: 40px;
    box-sizing: border-box;
}


.sidebar {
    width: 34%;
    float: left;
    background-color: #F7E2D6;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
}

footer {
    /* 글자 가운데 정렬 */
    text-align: center;
    font-size: 85%;
    color: #999;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content-area {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.main-area {
    width: 66%;
    float: left;
}

.sidebar {
    width: 34%;
    float: right;
}

.fix {
    /* 위의 내용들이 플로트 됐을 때 위로 올라감 방지 */
    clear: both;
}

/*content-area에 group class를 넣으면 fix 대신 사용할 수 있다.*/
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}

/* 더 많은 css */